<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('./header.ejs') %>
<body>
    <div class="container">
        <div>
            <h2>
                Name: <%= burger.name %>
            </h2>
            <h5>Burger type: <%=burger.burger %>
            </h5>
            <p>
              Location:  <%= burger.location %>
            </p>
            <a href="/<%=burger._id%>/edit">Edit</a>
            

            <form action="/products/<%=burger._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </div>
    </div>
</body>
</html>